<h1><%= @product.title %></h1>
<p><%= @product.description %></p>
<span><%= @product.price %> EUR</span>


<div class="px-40 py-20 bg-amber-100">
    <div class="w-72 bg-white drop-shadow-md rounded-lg">
    <span class='object-cover rounded-tl-lg rounded-tr-lg'>
        <%= image_tag @product.photo, width: 200 if @product.photo.attached? %>
    </span>
        <div class="px-5 py-3 space-y-2">
            <h3 class="text-lg"><%= @product.title %></h3>
            <div class="space-x-2">
                <span class="px-3 py-0.5 border border-blue-500 text-[11px] text-blue-500">Free Ship</span>
                <span class="px-3 py-0.5 border border-blue-500 text-[11px] text-blue-500">7 Day Return</span>
            </div>
            <p class="space-x-2">
                <span class="text-2xl font-semibold"><%= @product.price %>EUR</span>
            </p>
            <div class="flex justify-between items-center pt-3 pb-2">
                <span
                    class="px-4 py-2 bg-red-600 hover:bg-amber-600 text-center text-sm text-white rounded duration-300">
                        <%= link_to 'Edit product', edit_product_path(@product) %></span>
                <a href="#" title="Add to Favorites"
                    class="text-2xl text-gray-300 hover:text-red-500 duration-300">&hearts;</a>
            </div>
        </div>
    </div>

</div>